In [2]:
import pandas as pd
import numpy as np
import time,datetime
import math

列举五个初始表单，命名为df1,df2,df3,df4,df5

In [3]:
df1 = pd.DataFrame({
    '污水厂名':['上海徐泾污水处理有限公司','上海青浦第二污水处理厂有限公司','上海青浦练塘污水处理厂'],
    '确认需运出量':[25.47,27.91,10.09],
    '污泥等级':['C','A','A'],
    '运输时长':[30,80,50],
    '平均单车载量':[7.805,9.305,9.405],
    '运输车数':[4,3,2]
})
df1

              污水厂名  确认需运出量 污泥等级  运输时长  平均单车载量  运输车数
0     上海徐泾污水处理有限公司   25.47    C    30   7.805     4
1  上海青浦第二污水处理厂有限公司   27.91    A    80   9.305     3
2      上海青浦练塘污水处理厂   10.09    A    50   9.405     2

In [432]:
df2 = pd.DataFrame({
    '污水厂名':['上海市金泽污水处理有限公司西岑分公司','上海青浦第二污水处理厂有限公司','上海青浦白鹤污水处理有限公司'],
    '确认需运出量':[0.79,55.83,6.55],
    '污泥等级':['C','A','B'],
    '运输时长':[50,80,80],
    '平均单车载量':[9.405,9.305,7.925],
    '运输车数':[1,6,1]
})
df2

                 污水厂名  确认需运出量 污泥等级  运输时长  平均单车载量  运输车数
0  上海市金泽污水处理有限公司西岑分公司    0.79    C    50   9.405     1
1     上海青浦第二污水处理厂有限公司   55.83    A    80   9.305     6
2      上海青浦白鹤污水处理有限公司    6.55    B    80   7.925     1

In [5]:
df3 = pd.DataFrame({
    '污水厂名':['商榻污水处理有限公司','上海绿衍污水处理有限公司','上海市金泽污水处理有限公司','上海青浦第二污水处理厂有限公司'],
    '确认需运出量':[0.87,41.91,0.64,18.61],
    '污泥等级':['A','A','C','A'],
    '运输时长':[90,20,50,80],
    '平均单车载量':[9.405,16.105,9.405,9.305],
    '运输车数':[1,3,1,2]
})
df3

              污水厂名  确认需运出量 污泥等级  运输时长  平均单车载量  运输车数
0       商榻污水处理有限公司    0.87    A    90   9.405     1
1     上海绿衍污水处理有限公司   41.91    A    20  16.105     3
2    上海市金泽污水处理有限公司    0.64    C    50   9.405     1
3  上海青浦第二污水处理厂有限公司   18.61    A    80   9.305     2

In [6]:
df4 = pd.DataFrame({
    '污水厂名':['上海青浦排水运营有限公司','上海朱家角污水处理工程建设有限公司','上海青浦第二污水处理厂有限公司'],
    '确认需运出量':[15.72,20.85,14.75],
    '污泥等级':['B','B','A'],
    '运输时长':[40,30,80],
    '平均单车载量':[16.105,9.405,9.305],
    '运输车数':[1,3,2]
})
df4

                污水厂名  确认需运出量 污泥等级  运输时长  平均单车载量  运输车数
0       上海青浦排水运营有限公司   15.72    B    40  16.105     1
1  上海朱家角污水处理工程建设有限公司   20.85    B    30   9.405     3
2    上海青浦第二污水处理厂有限公司   14.75    A    80   9.305     2

In [433]:
df5 = pd.DataFrame({
    '车牌号':['沪ER3975','沪EC6027','沪FP3295','沪ES8171','沪FC2538','沪ER9066'],
    '核定载量':[9805.00,8805.00,9405.00,7925.00,16105.00,7805.00],
    '运载单位':['上海青浦第二污水处理厂有限公司','上海青浦第二污水处理厂有限公司',['商榻污水处理有限公司','上海市金泽污水处理有限公司','上海朱家角污水处理工程建设有限公司','上海青浦练塘污水处理厂','上海市金泽污水处理有限公司西岑分公司'],'上海青浦白鹤污水处理有限公司',['上海青浦排水运营有限公司','上海绿衍污水处理有限公司'],'上海徐泾污水处理有限公司'],
})
df5

       车牌号     核定载量                                               运载单位
0  沪ER3975   9805.0                                    上海青浦第二污水处理厂有限公司
1  沪EC6027   8805.0                                    上海青浦第二污水处理厂有限公司
2  沪FP3295   9405.0  [商榻污水处理有限公司, 上海市金泽污水处理有限公司, 上海朱家角污水处理工程建设有限公司,...
3  沪ES8171   7925.0                                     上海青浦白鹤污水处理有限公司
4  沪FC2538  16105.0                       [上海青浦排水运营有限公司, 上海绿衍污水处理有限公司]
5  沪ER9066   7805.0                                       上海徐泾污水处理有限公司

整理df5这个dataframe，将车牌号和运载单位一一匹配。
并添加车辆休息时间，代表车辆在这个时间点完成上一个任务，可以开始下一个任务。

In [434]:
df5_total = pd.DataFrame({
    '车牌号':['沪ER3975','沪EC6027','沪FP3295','沪FP3295','沪FP3295','沪FP3295','沪FP3295','沪ES8171','沪FC2538','沪FC2538','沪ER9066'],
    '核定载量':[9805.00,8805.00,9405.00,9405.00,9405.00,9405.00,9405.00,7925.00,16105.00,16105.00,7805.00],
    '运载单位':['上海青浦第二污水处理厂有限公司','上海青浦第二污水处理厂有限公司','商榻污水处理有限公司','上海市金泽污水处理有限公司','上海朱家角污水处理工程建设有限公司','上海青浦练塘污水处理厂','上海市金泽污水处理有限公司西岑分公司','上海青浦白鹤污水处理有限公司','上海青浦排水运营有限公司','上海绿衍污水处理有限公司','上海徐泾污水处理有限公司'],
})
df5_total

        车牌号     核定载量                运载单位
0   沪ER3975   9805.0     上海青浦第二污水处理厂有限公司
1   沪EC6027   8805.0     上海青浦第二污水处理厂有限公司
2   沪FP3295   9405.0          商榻污水处理有限公司
3   沪FP3295   9405.0       上海市金泽污水处理有限公司
4   沪FP3295   9405.0   上海朱家角污水处理工程建设有限公司
5   沪FP3295   9405.0         上海青浦练塘污水处理厂
6   沪FP3295   9405.0  上海市金泽污水处理有限公司西岑分公司
7   沪ES8171   7925.0      上海青浦白鹤污水处理有限公司
8   沪FC2538  16105.0        上海青浦排水运营有限公司
9   沪FC2538  16105.0        上海绿衍污水处理有限公司
10  沪ER9066   7805.0        上海徐泾污水处理有限公司

In [435]:
df5_time = df5_total.copy(deep = True)
df5_time['车辆休息时间'] = pd.to_datetime('2023-06-13 05:00:00')
df5_time

        车牌号     核定载量                运载单位              车辆休息时间
0   沪ER3975   9805.0     上海青浦第二污水处理厂有限公司 2023-06-13 05:00:00
1   沪EC6027   8805.0     上海青浦第二污水处理厂有限公司 2023-06-13 05:00:00
2   沪FP3295   9405.0          商榻污水处理有限公司 2023-06-13 05:00:00
3   沪FP3295   9405.0       上海市金泽污水处理有限公司 2023-06-13 05:00:00
4   沪FP3295   9405.0   上海朱家角污水处理工程建设有限公司 2023-06-13 05:00:00
5   沪FP3295   9405.0         上海青浦练塘污水处理厂 2023-06-13 05:00:00
6   沪FP3295   9405.0  上海市金泽污水处理有限公司西岑分公司 2023-06-13 05:00:00
7   沪ES8171   7925.0      上海青浦白鹤污水处理有限公司 2023-06-13 05:00:00
8   沪FC2538  16105.0        上海青浦排水运营有限公司 2023-06-13 05:00:00
9   沪FC2538  16105.0        上海绿衍污水处理有限公司 2023-06-13 05:00:00
10  沪ER9066   7805.0        上海徐泾污水处理有限公司 2023-06-13 05:00:00

# 合并a仓和c仓

In [1168]:
df1_operation = df1.copy(deep = True)
df1_operation['剩余需运出量'] = pd.Series(df1_operation['确认需运出量'],index = df1_operation.index)

df3_operation = df3.copy(deep = True)
df3_operation['剩余需运出量'] = pd.Series(df3_operation['确认需运出量'],index = df3_operation.index)

df1_operation['仓库'] = 'A仓'
df3_operation['仓库'] = 'C仓'

col1 = df1.iloc[:,0]
col3 = df3.iloc[:,0]

arr1 = col1.values
arr3 = col3.values
arr = np.append(arr1,arr3)

ac_vehicle = df5_time[df5_time['运载单位'].isin(arr)]
a_vehicle = df5_time[df5_time['运载单位'].isin(arr1)]
c_vehicle = df5_time[df5_time['运载单位'].isin(arr3)]

ac_vehicle

        车牌号     核定载量             运载单位              车辆休息时间
0   沪ER3975   9805.0  上海青浦第二污水处理厂有限公司 2023-06-13 05:00:00
1   沪EC6027   8805.0  上海青浦第二污水处理厂有限公司 2023-06-13 05:00:00
2   沪FP3295   9405.0       商榻污水处理有限公司 2023-06-13 05:00:00
3   沪FP3295   9405.0    上海市金泽污水处理有限公司 2023-06-13 05:00:00
5   沪FP3295   9405.0      上海青浦练塘污水处理厂 2023-06-13 05:00:00
9   沪FC2538  16105.0     上海绿衍污水处理有限公司 2023-06-13 05:00:00
10  沪ER9066   7805.0     上海徐泾污水处理有限公司 2023-06-13 05:00:00

In [1169]:
a_vehicle

        车牌号    核定载量             运载单位              车辆休息时间
0   沪ER3975  9805.0  上海青浦第二污水处理厂有限公司 2023-06-13 05:00:00
1   沪EC6027  8805.0  上海青浦第二污水处理厂有限公司 2023-06-13 05:00:00
5   沪FP3295  9405.0      上海青浦练塘污水处理厂 2023-06-13 05:00:00
10  沪ER9066  7805.0     上海徐泾污水处理有限公司 2023-06-13 05:00:00

In [1170]:
goal = pd.DataFrame(columns=['污水厂名','确认需运出量','剩余需运出量',
                             '污泥等级','运输时长','车牌号','核定载量','到达时间','仓库'],
                   index = [0,1,2,3,4,5,6,7,8])

In [1171]:
def operation():
    delta = datetime.timedelta(minutes=15)
    a_initial_time = pd.to_datetime('2023-06-13 04:45:00')
    c_initial_time = pd.to_datetime('2023-06-13 04:45:00')
    #a_initial_time = ac_vehicle['车辆休息时间'].max() - datetime.timedelta(minutes=15)
    #c_initial_time = ac_vehicle['车辆休息时间'].max() - datetime.timedelta(minutes=15)

    #i = 1

    for i in range(len(ac_vehicle['车牌号'].unique())*2):
        if i%2 == 1: #a仓
            if (i+1)%4 == 0: #二污
                insertRow = a_vehicle.loc[(a_vehicle['运载单位'] == '上海青浦第二污水处理厂有限公司')
                                & (a_vehicle['车辆休息时间'] == '2023-06-13 05:00:00')]
                first_row = insertRow.iloc[:1]
                try:
                    matched_insertRow = df1_operation.loc[df1_operation['污水厂名']==insertRow.iloc[0][2]]
                except IndexError:
                    i += 1
                else:
                    goal.iloc[i][0] = first_row.iloc[0][2] #污水厂名
                    goal.iloc[i][1] = matched_insertRow.iloc[0][1]  #确认需要运出量
                    goal.iloc[i][2] = matched_insertRow.iloc[0][6] - insertRow.iloc[0][1]/1000  #剩余需要运出量
                    goal.iloc[i][3] = matched_insertRow.iloc[0][2]  #污泥等级
                    goal.iloc[i][4] = matched_insertRow.iloc[0][3]  #运输时长
                    goal.iloc[i][5] = first_row.iloc[0][0]  #车牌号
                    goal.iloc[i][6] = first_row.iloc[0][1]  #核定载量
                    goal.iloc[i][7] = a_initial_time + delta  #到达时间（最初车辆从5:00开始每隔十五分钟出发）
                    goal.iloc[i][8] = matched_insertRow.iloc[0][7]  #仓库

                    a_initial_time = goal.iloc[i][7]
                    a_vehicle.loc[a_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] = goal.iloc[i][7] + datetime.timedelta(minutes=goal.iloc[i][4].astype(np.float64))
                    a_vehicle.loc[a_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] += delta
                    c_vehicle.loc[c_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] = goal.iloc[i][7] + datetime.timedelta(minutes=goal.iloc[i][4].astype(np.float64))
                    c_vehicle.loc[c_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] += delta
                    ac_vehicle.loc[ac_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] = goal.iloc[i][7] + datetime.timedelta(minutes=goal.iloc[i][4].astype(np.float64))
                    ac_vehicle.loc[ac_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] += delta
                    df1_operation.loc[df1_operation['污水厂名']==goal.iloc[i][0],['剩余需运出量']] = goal.iloc[i][2]
                
                    i += 1
                
            else:  #非二污
                insertRow = a_vehicle.loc[(a_vehicle['运载单位'] != '上海青浦第二污水处理厂有限公司')
                                & (a_vehicle['车辆休息时间'] == '2023-06-13 05:00:00')]
                first_row = insertRow.iloc[:1]
                try:
                    matched_insertRow = df1_operation.loc[df1_operation['污水厂名']==insertRow.iloc[0][2]]
                except:
                    i += 1
                else:
                    goal.iloc[i][0] = first_row.iloc[0][2] #污水厂名
                    goal.iloc[i][1] = matched_insertRow.iloc[0][1]  #确认需要运出量
                    goal.iloc[i][2] = matched_insertRow.iloc[0][6] - insertRow.iloc[0][1]/1000  #剩余需要运出量
                    goal.iloc[i][3] = matched_insertRow.iloc[0][2]  #污泥等级
                    goal.iloc[i][4] = matched_insertRow.iloc[0][3]  #运输时长
                    goal.iloc[i][5] = first_row.iloc[0][0]  #车牌号
                    goal.iloc[i][6] = first_row.iloc[0][1]  #核定载量
                    goal.iloc[i][7] = a_initial_time + delta  #到达时间（最初车辆从5:00开始每隔十五分钟出发）
                    goal.iloc[i][8] = matched_insertRow.iloc[0][7]  #仓库

                    a_initial_time = goal.iloc[i][7]
                    a_vehicle.loc[a_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] = goal.iloc[i][7] + datetime.timedelta(minutes=goal.iloc[i][4].astype(np.float64))
                    a_vehicle.loc[a_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] += delta
                    c_vehicle.loc[c_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] = goal.iloc[i][7] + datetime.timedelta(minutes=goal.iloc[i][4].astype(np.float64))
                    c_vehicle.loc[c_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] += delta
                    ac_vehicle.loc[ac_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] = goal.iloc[i][7] + datetime.timedelta(minutes=goal.iloc[i][4].astype(np.float64))
                    ac_vehicle.loc[ac_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] += delta
                    df1_operation.loc[df1_operation['污水厂名']==goal.iloc[i][0],['剩余需运出量']] = goal.iloc[i][2]

                    i += 1
        
        else:  #c仓
            if i%4 == 0:  #二污
                insertRow = c_vehicle.loc[(c_vehicle['运载单位'] == '上海青浦第二污水处理厂有限公司')
                                & (c_vehicle['车辆休息时间'] == '2023-06-13 05:00:00')]
                first_row = insertRow.iloc[:1]
                try:
                    matched_insertRow = df3_operation.loc[df3_operation['污水厂名']==insertRow.iloc[0][2]]
                except:
                    i += 1
                else:
                    goal.iloc[i][0] = first_row.iloc[0][2] #污水厂名
                    goal.iloc[i][1] = matched_insertRow.iloc[0][1]  #确认需要运出量
                    goal.iloc[i][2] = matched_insertRow.iloc[0][6] - insertRow.iloc[0][1]/1000  #剩余需要运出量
                    goal.iloc[i][3] = matched_insertRow.iloc[0][2]  #污泥等级
                    goal.iloc[i][4] = matched_insertRow.iloc[0][3]  #运输时长
                    goal.iloc[i][5] = first_row.iloc[0][0]  #车牌号
                    goal.iloc[i][6] = first_row.iloc[0][1]  #核定载量
                    goal.iloc[i][7] = c_initial_time + delta  #到达时间（最初车辆从5:00开始每隔十五分钟出发）
                    goal.iloc[i][8] = matched_insertRow.iloc[0][7]  #仓库

                    c_initial_time = goal.iloc[i][7]
                    c_vehicle.loc[c_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] = goal.iloc[i][7] + datetime.timedelta(minutes=goal.iloc[i][4].astype(np.float64))
                    c_vehicle.loc[c_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] += delta
                    a_vehicle.loc[a_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] = goal.iloc[i][7] + datetime.timedelta(minutes=goal.iloc[i][4].astype(np.float64))
                    a_vehicle.loc[a_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] += delta
                    ac_vehicle.loc[ac_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] = goal.iloc[i][7] + datetime.timedelta(minutes=goal.iloc[i][4].astype(np.float64))
                    ac_vehicle.loc[ac_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] += delta
                    df3_operation.loc[df3_operation['污水厂名']==goal.iloc[i][0],['剩余需运出量']] = goal.iloc[i][2]        

                    i += 1
                
            else:  #非二污
                insertRow = c_vehicle.loc[(c_vehicle['运载单位'] != '上海青浦第二污水处理厂有限公司')
                                & (c_vehicle['车辆休息时间'] == '2023-06-13 05:00:00')]
                first_row = insertRow.iloc[:1]
                try:
                    matched_insertRow = df3_operation.loc[df3_operation['污水厂名']==insertRow.iloc[0][2]]
                except:
                    i += 1
                else:        
                    goal.iloc[i][0] = first_row.iloc[0][2] #污水厂名
                    goal.iloc[i][1] = matched_insertRow.iloc[0][1]  #确认需要运出量
                    goal.iloc[i][2] = matched_insertRow.iloc[0][6] - insertRow.iloc[0][1]/1000  #剩余需要运出量
                    goal.iloc[i][3] = matched_insertRow.iloc[0][2]  #污泥等级
                    goal.iloc[i][4] = matched_insertRow.iloc[0][3]  #运输时长
                    goal.iloc[i][5] = first_row.iloc[0][0]  #车牌号
                    goal.iloc[i][6] = first_row.iloc[0][1]  #核定载量
                    goal.iloc[i][7] = c_initial_time + delta  #到达时间（最初车辆从5:00开始每隔十五分钟出发）
                    goal.iloc[i][8] = matched_insertRow.iloc[0][7]  #仓库

                    c_initial_time = goal.iloc[i][7]
                    c_vehicle.loc[c_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] = goal.iloc[i][7] + datetime.timedelta(minutes=goal.iloc[i][4].astype(np.float64))
                    c_vehicle.loc[c_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] += delta
                    a_vehicle.loc[a_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] = goal.iloc[i][7] + datetime.timedelta(minutes=goal.iloc[i][4].astype(np.float64))
                    a_vehicle.loc[a_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] += delta
                    ac_vehicle.loc[ac_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] = goal.iloc[i][7] + datetime.timedelta(minutes=goal.iloc[i][4].astype(np.float64))
                    ac_vehicle.loc[ac_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] += delta
                    df3_operation.loc[df3_operation['污水厂名']==goal.iloc[i][0],['剩余需运出量']] = goal.iloc[i][2]

                    i += 1
                
operation()
goal

,污水厂名,确认需运出量,剩余需运出量,污泥等级,运输时长,车牌号,核定载量,到达时间,仓库
0,上海青浦第二污水处理厂有限公司,18.61,8.805,A,80,沪ER3975,9805.0,2023-06-13 05:00:00,C仓
1,上海青浦练塘污水处理厂,10.09,0.685,A,50,沪FP3295,9405.0,2023-06-13 05:00:00,A仓
2,上海绿衍污水处理有限公司,41.91,25.805,A,20,沪FC2538,16105.0,2023-06-13 05:15:00,C仓
3,上海青浦第二污水处理厂有限公司,27.91,19.105,A,80,沪EC6027,8805.0,2023-06-13 05:15:00,A仓
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,上海徐泾污水处理有限公司,25.47,17.665,C,30,沪ER9066,7805.0,2023-06-13 05:30:00,A仓
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1172]:
goal

,污水厂名,确认需运出量,剩余需运出量,污泥等级,运输时长,车牌号,核定载量,到达时间,仓库
0,上海青浦第二污水处理厂有限公司,18.61,8.805,A,80,沪ER3975,9805.0,2023-06-13 05:00:00,C仓
1,上海青浦练塘污水处理厂,10.09,0.685,A,50,沪FP3295,9405.0,2023-06-13 05:00:00,A仓
2,上海绿衍污水处理有限公司,41.91,25.805,A,20,沪FC2538,16105.0,2023-06-13 05:15:00,C仓
3,上海青浦第二污水处理厂有限公司,27.91,19.105,A,80,沪EC6027,8805.0,2023-06-13 05:15:00,A仓
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,上海徐泾污水处理有限公司,25.47,17.665,C,30,沪ER9066,7805.0,2023-06-13 05:30:00,A仓
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1174]:
c_vehicle

       车牌号     核定载量             运载单位              车辆休息时间
0  沪ER3975   9805.0  上海青浦第二污水处理厂有限公司 2023-06-13 06:35:00
1  沪EC6027   8805.0  上海青浦第二污水处理厂有限公司 2023-06-13 06:50:00
2  沪FP3295   9405.0       商榻污水处理有限公司 2023-06-13 06:05:00
3  沪FP3295   9405.0    上海市金泽污水处理有限公司 2023-06-13 06:05:00
9  沪FC2538  16105.0     上海绿衍污水处理有限公司 2023-06-13 05:50:00

In [1176]:
df3_operation

              污水厂名  确认需运出量 污泥等级  运输时长  平均单车载量  运输车数  剩余需运出量  仓库
0       商榻污水处理有限公司    0.87    A    90   9.405     1   0.870  C仓
1     上海绿衍污水处理有限公司   41.91    A    20  16.105     3  25.805  C仓
2    上海市金泽污水处理有限公司    0.64    C    50   9.405     1   0.640  C仓
3  上海青浦第二污水处理厂有限公司   18.61    A    80   9.305     2   8.805  C仓

In [1177]:
df1_operation

              污水厂名  确认需运出量 污泥等级  运输时长  平均单车载量  运输车数  剩余需运出量  仓库
0     上海徐泾污水处理有限公司   25.47    C    30   7.805     4  17.665  A仓
1  上海青浦第二污水处理厂有限公司   27.91    A    80   9.305     3  19.105  A仓
2      上海青浦练塘污水处理厂   10.09    A    50   9.405     2   0.685  A仓

In [1178]:
result = pd.DataFrame(columns=['污水厂名','确认需运出量','剩余需运出量',
                             '污泥等级','运输时长','车牌号','核定载量','到达时间','仓库'],
                   index = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16])
result = result.reindex(range(40))

In [1179]:
def operation_cont():
    global goal
    goal = goal.dropna()
    max_index = max(list(goal.index))
    last_row = goal.iloc[(max_index-1):]
    i = max_index + 1 #将i的值设置成goal表的最后一个index加上1
    
    delta = datetime.timedelta(minutes=15)
    a_initial_time = a_vehicle['车辆休息时间'].max()
    c_initial_time = c_vehicle['车辆休息时间'].max()
    ac_initial_time = ac_vehicle['车辆休息时间'].max() #根据三个车辆表设置三个初始时间
    
    while True:
        sur1 = df1_operation.iloc[:,6]
        arr1 = sur1.values
        sur3 = df3_operation.iloc[:,6]
        arr3 = sur3.values
        arr = np.append(arr1,arr3)
        if (np.array(arr)<=0).all() == True:  #判断是否所有污水厂剩余运出量小于等于零
            break
        else:
            if i%2 == 1: #a仓
                if (i+1)%4 == 0:  #二污
                    insert_row = a_vehicle.loc[(a_vehicle['运载单位'] == '上海青浦第二污水处理厂有限公司')]
                    insert_row = insert_row.sort_values(by = '车辆休息时间',ascending = True)
                    fir_row = insert_row.iloc[:1]
                    #看时间优先排序，等待时间越长的车越先开始
                    new = df1_operation.loc[(df1_operation['污水厂名'] == '上海青浦第二污水处理厂有限公司') & (df1_operation['剩余需运出量'] > 0)]

                    if len(new) > 0 and new.iloc[0][6] > 0:
                        result.iloc[i][0] = fir_row.iloc[0][2] #污水厂名
                        result.iloc[i][1] = new.iloc[0][1]  #确认需要运出量
                        result.iloc[i][2] = new.iloc[0][6] - insert_row.iloc[0][1]/1000  #剩余需要运出量
                        result.iloc[i][3] = new.iloc[0][2]  #污泥等级
                        result.iloc[i][4] = new.iloc[0][3]  #运输时长
                        result.iloc[i][5] = fir_row.iloc[0][0]  #车牌号
                        result.iloc[i][6] = fir_row.iloc[0][1]  #核定载量
                        result.iloc[i][8] = new.iloc[0][7]  #仓库
                        #result.iloc[i][7] = initial_time + delta  #到达时间（最初车辆从5:00开始每隔十五分钟出发）
                        
                        time = pd.to_datetime(fir_row.iloc[0][3]) #这辆车的车辆休息时间
                        if time >= (a_initial_time + delta) and time >= c_initial_time:  #判断此车辆可运输时间是否大于上一个车辆达到时间
                            result.iloc[i][7] = time
                        elif time >= (a_initial_time + delta) and time < c_initial_time:  #大于上一个a仓车辆到达时间，小于上一个c仓车辆到达时间
                            result.iloc[i][7] = c_initial_time
                        else:
                            if i == max_index + 1:  #判断是否为第一行
                                result.iloc[i][7] = a_initial_time
                            else:
                                if pd.isna(result.iloc[i-1][0]):  #判断前一个时间是否为空
                                    if pd.isna(result.iloc[i-2][0]):  #判断前面第二个时间是否为空
                                        if pd.isna(result.iloc[i-3][0]):  #判断前面第三个时间是否为空
                                            if result.iloc[i][5] == result.iloc[i-4][5]: #判断前一次运输车辆和这一次的运输车辆是否相同
                                                result.iloc[i][7] = pd.to_datetime(result.iloc[i-4][7]) + delta
                                                result.iloc[i][7] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                                            else:
                                                result.iloc[i][7] = pd.to_datetime(result.iloc[i-4][7]) + delta
                                            
                                        else:
                                            if result.iloc[i][5] == result.iloc[i-3][5]: #判断前一次运输车辆和这一次的运输车辆是否相同
                                                result.iloc[i][7] = pd.to_datetime(result.iloc[i-3][7]) + delta
                                                result.iloc[i][7] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                                            else:
                                                result.iloc[i][7] = pd.to_datetime(result.iloc[i-3][7]) + delta
       
                                    else:
                                        result.iloc[i][7] = pd.to_datetime(result.iloc[i-2][7]) + delta
                                else:
                                    if result.iloc[i][5] == result.iloc[i-1][5]: #判断前一次运输车辆和这一次的运输车辆是否相同
                                        result.iloc[i][7] = pd.to_datetime(result.iloc[i-1][7]) + delta
                                        result.iloc[i][7] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                                    else:
                                        result.iloc[i][7] = pd.to_datetime(result.iloc[i-1][7]) + delta
                                
                        a_initial_time = pd.to_datetime(result.iloc[i][7])
                        a_vehicle.loc[a_vehicle['车牌号']==insert_row.iloc[0][0],['车辆休息时间']] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                        a_vehicle.loc[a_vehicle['车牌号']==insert_row.iloc[0][0],['车辆休息时间']] += delta
                        c_vehicle.loc[c_vehicle['车牌号']==insert_row.iloc[0][0],['车辆休息时间']] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                        c_vehicle.loc[c_vehicle['车牌号']==insert_row.iloc[0][0],['车辆休息时间']] += delta
                        ac_vehicle.loc[ac_vehicle['车牌号']==insert_row.iloc[0][0],['车辆休息时间']] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                        ac_vehicle.loc[ac_vehicle['车牌号']==insert_row.iloc[0][0],['车辆休息时间']] += delta
                        df1_operation.loc[df1_operation['污水厂名']==result.iloc[i][0],['剩余需运出量']] = result.iloc[i][2]
                        i += 1
                    else:
                        i += 1
                    continue

                else:  #非二污
                    insert_row = a_vehicle.loc[(a_vehicle['运载单位'] != '上海青浦第二污水处理厂有限公司')]
                    insert_row = insert_row.sort_values(by = '车辆休息时间',ascending = True)
                    fir_row = insert_row.iloc[:1]
                    #看时间优先排序，等待时间越长的车越先开始
                    new = df1_operation.loc[(df1_operation['污水厂名'] != '上海青浦第二污水处理厂有限公司') & (df1_operation['剩余需运出量'] > 0)]
                    is_exist = 0
                    k = 0
                    for k in range(len(insert_row)):
                        if (insert_row.iloc[k][2] in new['污水厂名'].values) == False:
                            k += 1
                        else:
                            is_exist = 1
                            matched_insert_row1 = new.loc[new['污水厂名']==insert_row.iloc[k][2]]
                            break
                    ex = insert_row.loc[insert_row['运载单位']==matched_insert_row1.iloc[0][0]]

                    if is_exist == 1:
                        result.iloc[i][0] = ex.iloc[0][2] #污水厂名
                        result.iloc[i][1] = matched_insert_row1.iloc[0][1]  #确认需要运出量
                        result.iloc[i][2] = matched_insert_row1.iloc[0][6] - ex.iloc[0][1]/1000  #剩余需要运出量
                        result.iloc[i][3] = matched_insert_row1.iloc[0][2]  #污泥等级
                        result.iloc[i][4] = matched_insert_row1.iloc[0][3]  #运输时长
                        result.iloc[i][5] = ex.iloc[0][0]  #车牌号
                        result.iloc[i][6] = ex.iloc[0][1]  #核定载量
                        result.iloc[i][8] = matched_insert_row1.iloc[0][7]  #仓库
                        #result.iloc[i][7] = initial_time + delta  #到达时间（最初车辆从5:00开始每隔十五分钟出发）
                        
                        time = pd.to_datetime(ex.iloc[0][3]) #这辆车的车辆休息时间
                        if time >= (a_initial_time + delta) and time >= c_initial_time:  #判断此车辆可运输时间是否大于上一个车辆达到时间
                            result.iloc[i][7] = time
                        elif time >= (a_initial_time + delta) and time < c_initial_time:  #大于上一个a仓车辆到达时间，小于上一个c仓车辆到达时间
                            result.iloc[i][7] = c_initial_time
                        else:
                            if i == max_index + 1:  #判断是否为第一行
                                result.iloc[i][7] = a_initial_time
                            else:
                                if pd.isna(result.iloc[i-1][0]):  #判断前一个时间是否为空
                                    if pd.isna(result.iloc[i-2][0]):  #判断前面第二个时间是否为空
                                        if pd.isna(result.iloc[i-3][0]):  #判断前面第三个时间是否为空
                                            if result.iloc[i][5] == result.iloc[i-4][5]: #判断前一次运输车辆和这一次的运输车辆是否相同
                                                result.iloc[i][7] = pd.to_datetime(result.iloc[i-4][7]) + delta
                                                result.iloc[i][7] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                                            else:
                                                result.iloc[i][7] = pd.to_datetime(result.iloc[i-4][7]) + delta
                                            
                                        else:
                                            if result.iloc[i][5] == result.iloc[i-3][5]: #判断前一次运输车辆和这一次的运输车辆是否相同
                                                result.iloc[i][7] = pd.to_datetime(result.iloc[i-3][7]) + delta
                                                result.iloc[i][7] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                                            else:
                                                result.iloc[i][7] = pd.to_datetime(result.iloc[i-3][7]) + delta
       
                                    else:
                                        result.iloc[i][7] = pd.to_datetime(result.iloc[i-2][7]) + delta
                                else:
                                    if result.iloc[i][5] == result.iloc[i-1][5]: #判断前一次运输车辆和这一次的运输车辆是否相同
                                        result.iloc[i][7] = pd.to_datetime(result.iloc[i-1][7]) + delta
                                        result.iloc[i][7] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                                    else:
                                        result.iloc[i][7] = pd.to_datetime(result.iloc[i-1][7]) + delta
                                
                   
                        a_initial_time = pd.to_datetime(result.iloc[i][7])
                        a_vehicle.loc[a_vehicle['车牌号']==ex.iloc[0][0],['车辆休息时间']] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                        a_vehicle.loc[a_vehicle['车牌号']==ex.iloc[0][0],['车辆休息时间']] += delta
                        c_vehicle.loc[c_vehicle['车牌号']==ex.iloc[0][0],['车辆休息时间']] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                        c_vehicle.loc[c_vehicle['车牌号']==ex.iloc[0][0],['车辆休息时间']] += delta
                        ac_vehicle.loc[ac_vehicle['车牌号']==ex.iloc[0][0],['车辆休息时间']] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                        ac_vehicle.loc[ac_vehicle['车牌号']==ex.iloc[0][0],['车辆休息时间']] += delta
                        df1_operation.loc[df1_operation['污水厂名']==result.iloc[i][0],['剩余需运出量']] = result.iloc[i][2]
                        i += 1
                    else:
                        i += 1
                    continue
   
            else:  #c仓
                if i%4 == 0:  #二污
                    insert_row = c_vehicle.loc[(c_vehicle['运载单位'] == '上海青浦第二污水处理厂有限公司')]
                    insert_row = insert_row.sort_values(by = '车辆休息时间',ascending = True)
                    fir_row = insert_row.iloc[:1]
                    #看时间优先排序，等待时间越长的车越先开始
                    new = df3_operation.loc[(df3_operation['污水厂名'] == '上海青浦第二污水处理厂有限公司') & (df3_operation['剩余需运出量'] > 0)]
                    if len(new) > 0 and new.iloc[0][6] > 0:
                        result.iloc[i][0] = fir_row.iloc[0][2] #污水厂名
                        result.iloc[i][1] = new.iloc[0][1]  #确认需要运出量
                        result.iloc[i][2] = new.iloc[0][6] - insert_row.iloc[0][1]/1000  #剩余需要运出量
                        result.iloc[i][3] = new.iloc[0][2]  #污泥等级
                        result.iloc[i][4] = new.iloc[0][3]  #运输时长
                        result.iloc[i][5] = fir_row.iloc[0][0]  #车牌号
                        result.iloc[i][6] = fir_row.iloc[0][1]  #核定载量
                        result.iloc[i][8] = new.iloc[0][7]  #仓库
                        #result.iloc[i][7] = initial_time + delta  #到达时间（最初车辆从5:00开始每隔十五分钟出发）
                        
                        time = pd.to_datetime(fir_row.iloc[0][3]) #这辆车的车辆休息时间
                        if time >= (c_initial_time + delta) and time >= a_initial_time:  #判断此车辆可运输时间是否大于上一个车辆达到时间
                            result.iloc[i][7] = time
                        elif time >= (c_initial_time + delta) and time < a_initial_time:  #大于上一个a仓车辆到达时间，小于上一个c仓车辆到达时间
                            result.iloc[i][7] = a_initial_time
                        else:
                            if i == max_index + 1:  #判断是否为第一行
                                result.iloc[i][7] = c_initial_time
                            else:
                                if pd.isna(result.iloc[i-1][0]):  #判断前一个时间是否为空
                                    if pd.isna(result.iloc[i-2][0]):  #判断前面第二个时间是否为空
                                        if pd.isna(result.iloc[i-3][0]):  #判断前面第三个时间是否为空
                                            if result.iloc[i][5] == result.iloc[i-4][5]: #判断前一次运输车辆和这一次的运输车辆是否相同
                                                result.iloc[i][7] = pd.to_datetime(result.iloc[i-4][7]) + delta
                                                result.iloc[i][7] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                                            else:
                                                result.iloc[i][7] = pd.to_datetime(result.iloc[i-4][7]) + delta
                                            
                                        else:
                                            if result.iloc[i][5] == result.iloc[i-3][5]: #判断前一次运输车辆和这一次的运输车辆是否相同
                                                result.iloc[i][7] = pd.to_datetime(result.iloc[i-3][7]) + delta
                                                result.iloc[i][7] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                                            else:
                                                result.iloc[i][7] = pd.to_datetime(result.iloc[i-3][7]) + delta
       
                                    else:
                                        result.iloc[i][7] = pd.to_datetime(result.iloc[i-2][7]) + delta
                                else:
                                    if result.iloc[i][5] == result.iloc[i-1][5]: #判断前一次运输车辆和这一次的运输车辆是否相同
                                        result.iloc[i][7] = pd.to_datetime(result.iloc[i-1][7]) + delta
                                        result.iloc[i][7] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                                    else:
                                        result.iloc[i][7] = pd.to_datetime(result.iloc[i-1][7]) + delta
                                
                        c_initial_time = pd.to_datetime(result.iloc[i][7])
                        a_vehicle.loc[a_vehicle['车牌号']==insert_row.iloc[0][0],['车辆休息时间']] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                        a_vehicle.loc[a_vehicle['车牌号']==insert_row.iloc[0][0],['车辆休息时间']] += delta
                        c_vehicle.loc[c_vehicle['车牌号']==insert_row.iloc[0][0],['车辆休息时间']] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                        c_vehicle.loc[c_vehicle['车牌号']==insert_row.iloc[0][0],['车辆休息时间']] += delta
                        ac_vehicle.loc[ac_vehicle['车牌号']==insert_row.iloc[0][0],['车辆休息时间']] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                        ac_vehicle.loc[ac_vehicle['车牌号']==insert_row.iloc[0][0],['车辆休息时间']] += delta
                        df3_operation.loc[df3_operation['污水厂名']==result.iloc[i][0],['剩余需运出量']] = result.iloc[i][2]
                        i += 1
                    else:
                        i += 1
                    continue
                else:   #非二污
                    insert_row = c_vehicle.loc[(c_vehicle['运载单位'] != '上海青浦第二污水处理厂有限公司')]
                    insert_row = insert_row.sort_values(by = '车辆休息时间',ascending = True)
                    fir_row = insert_row.iloc[:1]
                    #看时间优先排序，等待时间越长的车越先开始
                    new = df3_operation.loc[(df3_operation['污水厂名'] != '上海青浦第二污水处理厂有限公司') & (df3_operation['剩余需运出量'] > 0)]
                    is_exist = 0
                    k = 0
                    for k in range(len(insert_row)):
                        if (insert_row.iloc[k][2] in new['污水厂名'].values) == False:
                            k += 1
                        else:
                            is_exist = 1
                            matched_insert_row1 = new.loc[new['污水厂名']==insert_row.iloc[k][2]]
                            break
                    ex = insert_row.loc[insert_row['运载单位']==matched_insert_row1.iloc[0][0]]

                    if is_exist == 1:
                        result.iloc[i][0] = ex.iloc[0][2] #污水厂名
                        result.iloc[i][1] = matched_insert_row1.iloc[0][1]  #确认需要运出量
                        result.iloc[i][2] = matched_insert_row1.iloc[0][6] - ex.iloc[0][1]/1000  #剩余需要运出量
                        result.iloc[i][3] = matched_insert_row1.iloc[0][2]  #污泥等级
                        result.iloc[i][4] = matched_insert_row1.iloc[0][3]  #运输时长
                        result.iloc[i][5] = ex.iloc[0][0]  #车牌号
                        result.iloc[i][6] = ex.iloc[0][1]  #核定载量
                        result.iloc[i][8] = matched_insert_row1.iloc[0][7]  #仓库
                        #result.iloc[i][7] = initial_time + delta  #到达时间（最初车辆从5:00开始每隔十五分钟出发）
                        
                        time = pd.to_datetime(ex.iloc[0][3]) #这辆车的车辆休息时间
                        if time >= (c_initial_time + delta) and time >= a_initial_time:  #判断此车辆可运输时间是否大于上一个车辆达到时间
                            result.iloc[i][7] = time
                        elif time >= (c_initial_time + delta) and time < a_initial_time:  #大于上一个a仓车辆到达时间，小于上一个c仓车辆到达时间
                            result.iloc[i][7] = a_initial_time
                        else:
                            if i == max_index + 1:  #判断是否为第一行
                                result.iloc[i][7] = c_initial_time
                            else:
                                if pd.isna(result.iloc[i-1][0]):  #判断前一个时间是否为空
                                    if pd.isna(result.iloc[i-2][0]):  #判断前面第二个时间是否为空
                                        if pd.isna(result.iloc[i-3][0]):  #判断前面第三个时间是否为空
                                            if result.iloc[i][5] == result.iloc[i-4][5]: #判断前一次运输车辆和这一次的运输车辆是否相同
                                                result.iloc[i][7] = pd.to_datetime(result.iloc[i-4][7]) + delta
                                                result.iloc[i][7] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                                            else:
                                                result.iloc[i][7] = pd.to_datetime(result.iloc[i-4][7]) + delta
                                            
                                        else:
                                            if result.iloc[i][5] == result.iloc[i-3][5]: #判断前一次运输车辆和这一次的运输车辆是否相同
                                                result.iloc[i][7] = pd.to_datetime(result.iloc[i-3][7]) + delta
                                                result.iloc[i][7] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                                            else:
                                                result.iloc[i][7] = pd.to_datetime(result.iloc[i-3][7]) + delta
       
                                    else:
                                        result.iloc[i][7] = pd.to_datetime(result.iloc[i-2][7]) + delta
                                else:
                                    if result.iloc[i][5] == result.iloc[i-1][5]: #判断前一次运输车辆和这一次的运输车辆是否相同
                                        result.iloc[i][7] = pd.to_datetime(result.iloc[i-1][7]) + delta
                                        result.iloc[i][7] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                                    else:
                                        result.iloc[i][7] = pd.to_datetime(result.iloc[i-1][7]) + delta
                                
                        c_initial_time = pd.to_datetime(result.iloc[i][7])
                        a_vehicle.loc[a_vehicle['车牌号']==ex.iloc[0][0],['车辆休息时间']] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                        a_vehicle.loc[a_vehicle['车牌号']==ex.iloc[0][0],['车辆休息时间']] += delta
                        c_vehicle.loc[c_vehicle['车牌号']==ex.iloc[0][0],['车辆休息时间']] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                        c_vehicle.loc[c_vehicle['车牌号']==ex.iloc[0][0],['车辆休息时间']] += delta
                        ac_vehicle.loc[ac_vehicle['车牌号']==ex.iloc[0][0],['车辆休息时间']] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                        ac_vehicle.loc[ac_vehicle['车牌号']==ex.iloc[0][0],['车辆休息时间']] += delta
                        df3_operation.loc[df3_operation['污水厂名']==result.iloc[i][0],['剩余需运出量']] = result.iloc[i][2]
                        i += 1
                    else:
                        i += 1
                    continue
                    

operation_cont()
result

,污水厂名,确认需运出量,剩余需运出量,污泥等级,运输时长,车牌号,核定载量,到达时间,仓库
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,上海绿衍污水处理有限公司,41.91,9.7,A,20,沪FC2538,16105.0,2023-06-13 06:50:00,C仓
7,上海青浦第二污水处理厂有限公司,27.91,9.3,A,80,沪ER3975,9805.0,2023-06-13 07:05:00,A仓
8,上海青浦第二污水处理厂有限公司,18.61,0.0,A,80,沪EC6027,8805.0,2023-06-13 07:20:00,C仓
9,上海青浦练塘污水处理厂,10.09,-8.72,A,50,沪FP3295,9405.0,2023-06-13 07:35:00,A仓
10,上海绿衍污水处理有限公司,41.91,-6.405,A,20,沪FC2538,16105.0,2023-06-13 07:50:00,C仓
11,上海青浦第二污水处理厂有限公司,27.91,-0.505,A,80,沪ER3975,9805.0,2023-06-13 08:40:00,A仓
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,上海徐泾污水处理有限公司,25.47,9.86,C,30,沪ER9066,7805.0,2023-06-13 08:55:00,A仓
14,商榻污水处理有限公司,0.87,-8.535,A,90,沪FP3295,9405.0,2023-06-13 08:55:00,C仓
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,上海徐泾污水处理有限公司,25.47,2.055,C,30,沪ER9066,7805.0,2023-06-13 09:40:00,A仓
18,上海市金泽污水处理有限公司,0.64,-8.765,C,50,沪FP3295,9405.0,2023-06-13 10:40:00,C仓
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,上海徐泾污水处理有限公司,25.47,-5.75,C,30,沪ER9066,7805.0,2023-06-13 10:40:00,A仓
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1180]:
df3_operation

              污水厂名  确认需运出量 污泥等级  运输时长  平均单车载量  运输车数  剩余需运出量  仓库
0       商榻污水处理有限公司    0.87    A    90   9.405     1  -8.535  C仓
1     上海绿衍污水处理有限公司   41.91    A    20  16.105     3  -6.405  C仓
2    上海市金泽污水处理有限公司    0.64    C    50   9.405     1  -8.765  C仓
3  上海青浦第二污水处理厂有限公司   18.61    A    80   9.305     2   0.000  C仓

In [1181]:
c_vehicle

       车牌号     核定载量             运载单位              车辆休息时间
0  沪ER3975   9805.0  上海青浦第二污水处理厂有限公司 2023-06-13 10:15:00
1  沪EC6027   8805.0  上海青浦第二污水处理厂有限公司 2023-06-13 08:55:00
2  沪FP3295   9405.0       商榻污水处理有限公司 2023-06-13 11:45:00
3  沪FP3295   9405.0    上海市金泽污水处理有限公司 2023-06-13 11:45:00
9  沪FC2538  16105.0     上海绿衍污水处理有限公司 2023-06-13 08:25:00

In [1182]:
frames = [goal,result]
sol = pd.concat(frames)
sol.dropna()

,污水厂名,确认需运出量,剩余需运出量,污泥等级,运输时长,车牌号,核定载量,到达时间,仓库
0,上海青浦第二污水处理厂有限公司,18.61,8.805,A,80,沪ER3975,9805.0,2023-06-13 05:00:00,C仓
1,上海青浦练塘污水处理厂,10.09,0.685,A,50,沪FP3295,9405.0,2023-06-13 05:00:00,A仓
2,上海绿衍污水处理有限公司,41.91,25.805,A,20,沪FC2538,16105.0,2023-06-13 05:15:00,C仓
3,上海青浦第二污水处理厂有限公司,27.91,19.105,A,80,沪EC6027,8805.0,2023-06-13 05:15:00,A仓
5,上海徐泾污水处理有限公司,25.47,17.665,C,30,沪ER9066,7805.0,2023-06-13 05:30:00,A仓
6,上海绿衍污水处理有限公司,41.91,9.7,A,20,沪FC2538,16105.0,2023-06-13 06:50:00,C仓
7,上海青浦第二污水处理厂有限公司,27.91,9.3,A,80,沪ER3975,9805.0,2023-06-13 07:05:00,A仓
8,上海青浦第二污水处理厂有限公司,18.61,0.0,A,80,沪EC6027,8805.0,2023-06-13 07:20:00,C仓
9,上海青浦练塘污水处理厂,10.09,-8.72,A,50,沪FP3295,9405.0,2023-06-13 07:35:00,A仓
10,上海绿衍污水处理有限公司,41.91,-6.405,A,20,沪FC2538,16105.0,2023-06-13 07:50:00,C仓
11,上海青浦第二污水处理厂有限公司,27.91,-0.505,A,80,沪ER3975,9805.0,2023-06-13 08:40:00,A仓
13,上海徐泾污水处理有限公司,25.47,9.86,C,30,沪ER9066,7805.0,2023-06-13 08:55:00,A仓
14,商榻污水处理有限公司,0.87,-8.535,A,90,沪FP3295,9405.0,2023-06-13 08:55:00,C仓
17,上海徐泾污水处理有限公司,25.47,2.055,C,30,沪ER9066,7805.0,2023-06-13 09:40:00,A仓
18,上海市金泽污水处理有限公司,0.64,-8.765,C,50,沪FP3295,9405.0,2023-06-13 10:40:00,C仓
21,上海徐泾污水处理有限公司,25.47,-5.75,C,30,沪ER9066,7805.0,2023-06-13 10:40:00,A仓

# 合并b仓和d仓

In [1183]:
df2_operation = df2.copy(deep = True)
df2_operation['剩余需运出量'] = pd.Series(df2_operation['确认需运出量'],index = df2_operation.index)

df4_operation = df4.copy(deep = True)
df4_operation['剩余需运出量'] = pd.Series(df4_operation['确认需运出量'],index = df4_operation.index)

df2_operation['仓库'] = 'B仓'
df4_operation['仓库'] = 'D仓'

col2 = df2.iloc[:,0]
col4 = df4.iloc[:,0]

arr2 = col2.values
arr4 = col4.values
arr = np.append(arr2,arr4)

maxtime_morning = ac_vehicle['车辆休息时间'].max()

bd_vehicle = df5_time[df5_time['运载单位'].isin(arr)]
b_vehicle = df5_time[df5_time['运载单位'].isin(arr2)]
d_vehicle = df5_time[df5_time['运载单位'].isin(arr4)]

bd_vehicle['车辆休息时间'] = ac_vehicle['车辆休息时间'].max()
b_vehicle['车辆休息时间'] = ac_vehicle['车辆休息时间'].max()
d_vehicle['车辆休息时间'] = ac_vehicle['车辆休息时间'].max()

/var/folders/vr/7h88q2rj3j78m1vlpn6q5lp80000gn/T/ipykernel_18645/1595619548.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bd_vehicle['车辆休息时间'] = ac_vehicle['车辆休息时间'].max()
/var/folders/vr/7h88q2rj3j78m1vlpn6q5lp80000gn/T/ipykernel_18645/1595619548.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b_vehicle['车辆休息时间'] = ac_vehicle['车辆休息时间'].max()
/var/folders/vr/7h88q2rj3j78m1vlpn6q5lp80000gn/T/ipykernel_18645/1595619548.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d_vehicle['车辆休息时间'] = ac_vehicle['车辆休息时间'].max()

In [1184]:
goal = pd.DataFrame(columns=['污水厂名','确认需运出量','剩余需运出量',
                             '污泥等级','运输时长','车牌号','核定载量','到达时间','仓库'],
                   index = [0,1,2,3,4,5,6,7,8])
goal

  污水厂名 确认需运出量 剩余需运出量 污泥等级 运输时长  车牌号 核定载量 到达时间   仓库
0  NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN  NaN
1  NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN  NaN
2  NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN  NaN
3  NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN  NaN
4  NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN  NaN
5  NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN  NaN
6  NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN  NaN
7  NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN  NaN
8  NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [1185]:
bd_vehicle

       车牌号     核定载量                运载单位              车辆休息时间
0  沪ER3975   9805.0     上海青浦第二污水处理厂有限公司 2023-06-13 11:45:00
1  沪EC6027   8805.0     上海青浦第二污水处理厂有限公司 2023-06-13 11:45:00
4  沪FP3295   9405.0   上海朱家角污水处理工程建设有限公司 2023-06-13 11:45:00
6  沪FP3295   9405.0  上海市金泽污水处理有限公司西岑分公司 2023-06-13 11:45:00
7  沪ES8171   7925.0      上海青浦白鹤污水处理有限公司 2023-06-13 11:45:00
8  沪FC2538  16105.0        上海青浦排水运营有限公司 2023-06-13 11:45:00

In [1186]:
b_vehicle

       车牌号    核定载量                运载单位              车辆休息时间
0  沪ER3975  9805.0     上海青浦第二污水处理厂有限公司 2023-06-13 11:45:00
1  沪EC6027  8805.0     上海青浦第二污水处理厂有限公司 2023-06-13 11:45:00
6  沪FP3295  9405.0  上海市金泽污水处理有限公司西岑分公司 2023-06-13 11:45:00
7  沪ES8171  7925.0      上海青浦白鹤污水处理有限公司 2023-06-13 11:45:00

In [1187]:
def operation():
    delta = datetime.timedelta(minutes=15)
    #a_initial_time = pd.to_datetime('2023-06-13 04:45:00')
    #c_initial_time = pd.to_datetime('2023-06-13 04:45:00')
    b_initial_time = bd_vehicle['车辆休息时间'].max() - datetime.timedelta(minutes=15)
    d_initial_time = bd_vehicle['车辆休息时间'].max() - datetime.timedelta(minutes=15)

    #i = 1

    for i in range(len(bd_vehicle['车牌号'].unique())*2):
        if i%2 == 1: #a仓
            if (i+1)%4 == 0: #二污
                insertRow = b_vehicle.loc[(b_vehicle['运载单位'] == '上海青浦第二污水处理厂有限公司')
                                & (b_vehicle['车辆休息时间'] == maxtime_morning)]
                first_row = insertRow.iloc[:1]
                try:
                    matched_insertRow = df2_operation.loc[df2_operation['污水厂名']==insertRow.iloc[0][2]]
                except IndexError:
                    i += 1
                else:
                    goal.iloc[i][0] = first_row.iloc[0][2] #污水厂名
                    goal.iloc[i][1] = matched_insertRow.iloc[0][1]  #确认需要运出量
                    goal.iloc[i][2] = matched_insertRow.iloc[0][6] - insertRow.iloc[0][1]/1000  #剩余需要运出量
                    goal.iloc[i][3] = matched_insertRow.iloc[0][2]  #污泥等级
                    goal.iloc[i][4] = matched_insertRow.iloc[0][3]  #运输时长
                    goal.iloc[i][5] = first_row.iloc[0][0]  #车牌号
                    goal.iloc[i][6] = first_row.iloc[0][1]  #核定载量
                    goal.iloc[i][7] = b_initial_time + delta  #到达时间（最初车辆从5:00开始每隔十五分钟出发）
                    goal.iloc[i][8] = matched_insertRow.iloc[0][7]  #仓库

                    b_initial_time = goal.iloc[i][7]
                    b_vehicle.loc[b_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] = goal.iloc[i][7] + datetime.timedelta(minutes=goal.iloc[i][4].astype(np.float64))
                    b_vehicle.loc[b_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] += delta
                    d_vehicle.loc[d_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] = goal.iloc[i][7] + datetime.timedelta(minutes=goal.iloc[i][4].astype(np.float64))
                    d_vehicle.loc[d_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] += delta
                    bd_vehicle.loc[bd_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] = goal.iloc[i][7] + datetime.timedelta(minutes=goal.iloc[i][4].astype(np.float64))
                    bd_vehicle.loc[bd_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] += delta
                    df2_operation.loc[df2_operation['污水厂名']==goal.iloc[i][0],['剩余需运出量']] = goal.iloc[i][2]
                
                    i += 1
                
            else:  #非二污
                insertRow = b_vehicle.loc[(b_vehicle['运载单位'] != '上海青浦第二污水处理厂有限公司')
                                & (b_vehicle['车辆休息时间'] == maxtime_morning)]
                first_row = insertRow.iloc[:1]
                try:
                    matched_insertRow = df2_operation.loc[df2_operation['污水厂名']==insertRow.iloc[0][2]]
                except:
                    i += 1
                else:
                    goal.iloc[i][0] = first_row.iloc[0][2] #污水厂名
                    goal.iloc[i][1] = matched_insertRow.iloc[0][1]  #确认需要运出量
                    goal.iloc[i][2] = matched_insertRow.iloc[0][6] - insertRow.iloc[0][1]/1000  #剩余需要运出量
                    goal.iloc[i][3] = matched_insertRow.iloc[0][2]  #污泥等级
                    goal.iloc[i][4] = matched_insertRow.iloc[0][3]  #运输时长
                    goal.iloc[i][5] = first_row.iloc[0][0]  #车牌号
                    goal.iloc[i][6] = first_row.iloc[0][1]  #核定载量
                    goal.iloc[i][7] = b_initial_time + delta  #到达时间（最初车辆从5:00开始每隔十五分钟出发）
                    goal.iloc[i][8] = matched_insertRow.iloc[0][7]  #仓库

                    b_initial_time = goal.iloc[i][7]
                    b_vehicle.loc[b_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] = goal.iloc[i][7] + datetime.timedelta(minutes=goal.iloc[i][4].astype(np.float64))
                    b_vehicle.loc[b_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] += delta
                    d_vehicle.loc[d_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] = goal.iloc[i][7] + datetime.timedelta(minutes=goal.iloc[i][4].astype(np.float64))
                    d_vehicle.loc[d_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] += delta
                    bd_vehicle.loc[bd_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] = goal.iloc[i][7] + datetime.timedelta(minutes=goal.iloc[i][4].astype(np.float64))
                    bd_vehicle.loc[bd_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] += delta
                    df2_operation.loc[df2_operation['污水厂名']==goal.iloc[i][0],['剩余需运出量']] = goal.iloc[i][2]

                    i += 1
        
        else:  #c仓
            if i%4 == 0:  #二污
                insertRow = d_vehicle.loc[(d_vehicle['运载单位'] == '上海青浦第二污水处理厂有限公司')
                                & (d_vehicle['车辆休息时间'] == maxtime_morning)]
                first_row = insertRow.iloc[:1]
                try:
                    matched_insertRow = df4_operation.loc[df4_operation['污水厂名']==insertRow.iloc[0][2]]
                except:
                    i += 1
                else:
                    goal.iloc[i][0] = first_row.iloc[0][2] #污水厂名
                    goal.iloc[i][1] = matched_insertRow.iloc[0][1]  #确认需要运出量
                    goal.iloc[i][2] = matched_insertRow.iloc[0][6] - insertRow.iloc[0][1]/1000  #剩余需要运出量
                    goal.iloc[i][3] = matched_insertRow.iloc[0][2]  #污泥等级
                    goal.iloc[i][4] = matched_insertRow.iloc[0][3]  #运输时长
                    goal.iloc[i][5] = first_row.iloc[0][0]  #车牌号
                    goal.iloc[i][6] = first_row.iloc[0][1]  #核定载量
                    goal.iloc[i][7] = d_initial_time + delta  #到达时间（最初车辆从5:00开始每隔十五分钟出发）
                    goal.iloc[i][8] = matched_insertRow.iloc[0][7]  #仓库

                    d_initial_time = goal.iloc[i][7]
                    d_vehicle.loc[d_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] = goal.iloc[i][7] + datetime.timedelta(minutes=goal.iloc[i][4].astype(np.float64))
                    d_vehicle.loc[d_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] += delta
                    b_vehicle.loc[b_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] = goal.iloc[i][7] + datetime.timedelta(minutes=goal.iloc[i][4].astype(np.float64))
                    b_vehicle.loc[b_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] += delta
                    bd_vehicle.loc[bd_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] = goal.iloc[i][7] + datetime.timedelta(minutes=goal.iloc[i][4].astype(np.float64))
                    bd_vehicle.loc[bd_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] += delta
                    df4_operation.loc[df4_operation['污水厂名']==goal.iloc[i][0],['剩余需运出量']] = goal.iloc[i][2]        

                    i += 1
                
            else:  #非二污
                insertRow = d_vehicle.loc[(d_vehicle['运载单位'] != '上海青浦第二污水处理厂有限公司')
                                & (d_vehicle['车辆休息时间'] == maxtime_morning)]
                first_row = insertRow.iloc[:1]
                try:
                    matched_insertRow = df4_operation.loc[df4_operation['污水厂名']==insertRow.iloc[0][2]]
                except:
                    i += 1
                else:        
                    goal.iloc[i][0] = first_row.iloc[0][2] #污水厂名
                    goal.iloc[i][1] = matched_insertRow.iloc[0][1]  #确认需要运出量
                    goal.iloc[i][2] = matched_insertRow.iloc[0][6] - insertRow.iloc[0][1]/1000  #剩余需要运出量
                    goal.iloc[i][3] = matched_insertRow.iloc[0][2]  #污泥等级
                    goal.iloc[i][4] = matched_insertRow.iloc[0][3]  #运输时长
                    goal.iloc[i][5] = first_row.iloc[0][0]  #车牌号
                    goal.iloc[i][6] = first_row.iloc[0][1]  #核定载量
                    goal.iloc[i][7] = d_initial_time + delta  #到达时间（最初车辆从5:00开始每隔十五分钟出发）
                    goal.iloc[i][8] = matched_insertRow.iloc[0][7]  #仓库

                    d_initial_time = goal.iloc[i][7]
                    d_vehicle.loc[d_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] = goal.iloc[i][7] + datetime.timedelta(minutes=goal.iloc[i][4].astype(np.float64))
                    d_vehicle.loc[d_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] += delta
                    b_vehicle.loc[b_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] = goal.iloc[i][7] + datetime.timedelta(minutes=goal.iloc[i][4].astype(np.float64))
                    b_vehicle.loc[b_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] += delta
                    bd_vehicle.loc[bd_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] = goal.iloc[i][7] + datetime.timedelta(minutes=goal.iloc[i][4].astype(np.float64))
                    bd_vehicle.loc[bd_vehicle['车牌号']==insertRow.iloc[0][0],['车辆休息时间']] += delta
                    df4_operation.loc[df4_operation['污水厂名']==goal.iloc[i][0],['剩余需运出量']] = goal.iloc[i][2]

                    i += 1
                
operation()
goal

,污水厂名,确认需运出量,剩余需运出量,污泥等级,运输时长,车牌号,核定载量,到达时间,仓库
0,上海青浦第二污水处理厂有限公司,14.75,4.945,A,80,沪ER3975,9805.0,2023-06-13 11:45:00,D仓
1,上海市金泽污水处理有限公司西岑分公司,0.79,-8.615,C,50,沪FP3295,9405.0,2023-06-13 11:45:00,B仓
2,上海青浦排水运营有限公司,15.72,-0.385,B,40,沪FC2538,16105.0,2023-06-13 12:00:00,D仓
3,上海青浦第二污水处理厂有限公司,55.83,47.025,A,80,沪EC6027,8805.0,2023-06-13 12:00:00,B仓
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,上海青浦白鹤污水处理有限公司,6.55,-1.375,B,80,沪ES8171,7925.0,2023-06-13 12:15:00,B仓
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1188]:
result = pd.DataFrame(columns=['污水厂名','确认需运出量','剩余需运出量',
                             '污泥等级','运输时长','车牌号','核定载量','到达时间','仓库'],
                   index = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16])
result = result.reindex(range(50))

In [1189]:
def operation_cont():
    global goal
    goal = goal.dropna()
    max_index = max(list(goal.index))
    last_row = goal.iloc[(max_index-1):]
    i = max_index + 1 #将i的值设置成goal表的最后一个index加上1
    
    delta = datetime.timedelta(minutes=15)
    b_initial_time = b_vehicle['车辆休息时间'].max()
    d_initial_time = d_vehicle['车辆休息时间'].max()
    bd_initial_time = bd_vehicle['车辆休息时间'].max() #根据三个车辆表设置三个初始时间
    
    while True:
        sur2 = df2_operation.iloc[:,6]
        arr2 = sur2.values
        sur4 = df4_operation.iloc[:,6]
        arr4 = sur4.values
        arr = np.append(arr2,arr4)
        if (np.array(arr)<=0).all() == True:  #判断是否所有污水厂剩余运出量小于等于零
            break
        else:
            if i%2 == 1: #a仓
                if (i+1)%4 == 0:  #二污
                    insert_row = b_vehicle.loc[(b_vehicle['运载单位'] == '上海青浦第二污水处理厂有限公司')]
                    insert_row = insert_row.sort_values(by = '车辆休息时间',ascending = True)
                    fir_row = insert_row.iloc[:1]
                    #看时间优先排序，等待时间越长的车越先开始
                    new = df2_operation.loc[(df2_operation['污水厂名'] == '上海青浦第二污水处理厂有限公司') & (df2_operation['剩余需运出量'] > 0)]

                    if len(new) > 0 and new.iloc[0][6] > 0:
                        result.iloc[i][0] = fir_row.iloc[0][2] #污水厂名
                        result.iloc[i][1] = new.iloc[0][1]  #确认需要运出量
                        result.iloc[i][2] = new.iloc[0][6] - insert_row.iloc[0][1]/1000  #剩余需要运出量
                        result.iloc[i][3] = new.iloc[0][2]  #污泥等级
                        result.iloc[i][4] = new.iloc[0][3]  #运输时长
                        result.iloc[i][5] = fir_row.iloc[0][0]  #车牌号
                        result.iloc[i][6] = fir_row.iloc[0][1]  #核定载量
                        result.iloc[i][8] = new.iloc[0][7]  #仓库
                        #result.iloc[i][7] = initial_time + delta  #到达时间（最初车辆从5:00开始每隔十五分钟出发）
                        
                        time = pd.to_datetime(fir_row.iloc[0][3]) #这辆车的车辆休息时间
                        if time >= (b_initial_time + delta) and time >= d_initial_time:  #判断此车辆可运输时间是否大于上一个车辆达到时间
                            result.iloc[i][7] = time
                        elif time >= (b_initial_time + delta) and time < d_initial_time:  #大于上一个b仓车辆到达时间，小于上一个d仓车辆到达时间
                            result.iloc[i][7] = d_initial_time
                        else:
                            if i == max_index + 1:  #判断是否为第一行
                                result.iloc[i][7] = b_initial_time
                            else:
                                if pd.isna(result.iloc[i-1][0]):  #判断前一个时间是否为空
                                    if pd.isna(result.iloc[i-2][0]):  #判断前面第二个时间是否为空
                                        if pd.isna(result.iloc[i-3][0]):  #判断前面第三个时间是否为空
                                            if result.iloc[i][5] == result.iloc[i-4][5]: #判断前一次运输车辆和这一次的运输车辆是否相同
                                                result.iloc[i][7] = pd.to_datetime(result.iloc[i-4][7]) + delta
                                                result.iloc[i][7] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                                            else:
                                                result.iloc[i][7] = pd.to_datetime(result.iloc[i-4][7]) + delta
                                            
                                        else:
                                            if result.iloc[i][5] == result.iloc[i-3][5]: #判断前一次运输车辆和这一次的运输车辆是否相同
                                                result.iloc[i][7] = pd.to_datetime(result.iloc[i-3][7]) + delta
                                                result.iloc[i][7] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                                            else:
                                                result.iloc[i][7] = pd.to_datetime(result.iloc[i-3][7]) + delta
       
                                    else:
                                        result.iloc[i][7] = pd.to_datetime(result.iloc[i-2][7]) + delta
                                else:
                                    if result.iloc[i][5] == result.iloc[i-1][5]: #判断前一次运输车辆和这一次的运输车辆是否相同
                                        result.iloc[i][7] = pd.to_datetime(result.iloc[i-1][7]) + delta
                                        result.iloc[i][7] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                                    else:
                                        result.iloc[i][7] = pd.to_datetime(result.iloc[i-1][7]) + delta
                                
                        b_initial_time = pd.to_datetime(result.iloc[i][7])
                        b_vehicle.loc[b_vehicle['车牌号']==insert_row.iloc[0][0],['车辆休息时间']] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                        b_vehicle.loc[b_vehicle['车牌号']==insert_row.iloc[0][0],['车辆休息时间']] += delta
                        d_vehicle.loc[d_vehicle['车牌号']==insert_row.iloc[0][0],['车辆休息时间']] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                        d_vehicle.loc[d_vehicle['车牌号']==insert_row.iloc[0][0],['车辆休息时间']] += delta
                        bd_vehicle.loc[bd_vehicle['车牌号']==insert_row.iloc[0][0],['车辆休息时间']] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                        bd_vehicle.loc[bd_vehicle['车牌号']==insert_row.iloc[0][0],['车辆休息时间']] += delta
                        df2_operation.loc[df2_operation['污水厂名']==result.iloc[i][0],['剩余需运出量']] = result.iloc[i][2]
                        i += 1
                    else:
                        i += 1
                    continue

                else:  #非二污
                    insert_row = b_vehicle.loc[(b_vehicle['运载单位'] != '上海青浦第二污水处理厂有限公司')]
                    insert_row = insert_row.sort_values(by = '车辆休息时间',ascending = True)
                    fir_row = insert_row.iloc[:1]
                    #看时间优先排序，等待时间越长的车越先开始
                    new = df2_operation.loc[(df2_operation['污水厂名'] != '上海青浦第二污水处理厂有限公司') & (df2_operation['剩余需运出量'] > 0)]
                    is_exist = 0
                    k = 0
                    for k in range(len(insert_row)):
                        if (insert_row.iloc[k][2] in new['污水厂名'].values) == False:
                            k += 1
                        else:
                            is_exist = 1
                            matched_insert_row1 = new.loc[new['污水厂名']==insert_row.iloc[k][2]]
                            break
                    ex = insert_row.loc[insert_row['运载单位']==matched_insert_row1.iloc[0][0]]

                    if is_exist == 1:
                        result.iloc[i][0] = ex.iloc[0][2] #污水厂名
                        result.iloc[i][1] = matched_insert_row1.iloc[0][1]  #确认需要运出量
                        result.iloc[i][2] = matched_insert_row1.iloc[0][6] - ex.iloc[0][1]/1000  #剩余需要运出量
                        result.iloc[i][3] = matched_insert_row1.iloc[0][2]  #污泥等级
                        result.iloc[i][4] = matched_insert_row1.iloc[0][3]  #运输时长
                        result.iloc[i][5] = ex.iloc[0][0]  #车牌号
                        result.iloc[i][6] = ex.iloc[0][1]  #核定载量
                        result.iloc[i][8] = matched_insert_row1.iloc[0][7]  #仓库
                        #result.iloc[i][7] = initial_time + delta  #到达时间（最初车辆从5:00开始每隔十五分钟出发）
                        
                        time = pd.to_datetime(ex.iloc[0][3]) #这辆车的车辆休息时间
                        if time >= (b_initial_time + delta) and time >= d_initial_time:  #判断此车辆可运输时间是否大于上一个车辆达到时间
                            result.iloc[i][7] = time
                        elif time >= (b_initial_time + delta) and time < d_initial_time:  #大于上一个a仓车辆到达时间，小于上一个c仓车辆到达时间
                            result.iloc[i][7] = d_initial_time
                        else:
                            if i == max_index + 1:  #判断是否为第一行
                                result.iloc[i][7] = b_initial_time
                            else:
                                if pd.isna(result.iloc[i-1][0]):  #判断前一个时间是否为空
                                    if pd.isna(result.iloc[i-2][0]):  #判断前面第二个时间是否为空
                                        if pd.isna(result.iloc[i-3][0]):  #判断前面第三个时间是否为空
                                            if result.iloc[i][5] == result.iloc[i-4][5]: #判断前一次运输车辆和这一次的运输车辆是否相同
                                                result.iloc[i][7] = pd.to_datetime(result.iloc[i-4][7]) + delta
                                                result.iloc[i][7] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                                            else:
                                                result.iloc[i][7] = pd.to_datetime(result.iloc[i-4][7]) + delta
                                            
                                        else:
                                            if result.iloc[i][5] == result.iloc[i-3][5]: #判断前一次运输车辆和这一次的运输车辆是否相同
                                                result.iloc[i][7] = pd.to_datetime(result.iloc[i-3][7]) + delta
                                                result.iloc[i][7] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                                            else:
                                                result.iloc[i][7] = pd.to_datetime(result.iloc[i-3][7]) + delta
       
                                    else:
                                        result.iloc[i][7] = pd.to_datetime(result.iloc[i-2][7]) + delta
                                else:
                                    if result.iloc[i][5] == result.iloc[i-1][5]: #判断前一次运输车辆和这一次的运输车辆是否相同
                                        result.iloc[i][7] = pd.to_datetime(result.iloc[i-1][7]) + delta
                                        result.iloc[i][7] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                                    else:
                                        result.iloc[i][7] = pd.to_datetime(result.iloc[i-1][7]) + delta
                                
                   
                        b_initial_time = pd.to_datetime(result.iloc[i][7])
                        b_vehicle.loc[b_vehicle['车牌号']==ex.iloc[0][0],['车辆休息时间']] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                        b_vehicle.loc[b_vehicle['车牌号']==ex.iloc[0][0],['车辆休息时间']] += delta
                        d_vehicle.loc[d_vehicle['车牌号']==ex.iloc[0][0],['车辆休息时间']] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                        d_vehicle.loc[d_vehicle['车牌号']==ex.iloc[0][0],['车辆休息时间']] += delta
                        bd_vehicle.loc[bd_vehicle['车牌号']==ex.iloc[0][0],['车辆休息时间']] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                        bd_vehicle.loc[bd_vehicle['车牌号']==ex.iloc[0][0],['车辆休息时间']] += delta
                        df2_operation.loc[df2_operation['污水厂名']==result.iloc[i][0],['剩余需运出量']] = result.iloc[i][2]
                        i += 1
                    else:
                        i += 1
                    continue
   
            else:  #c仓
                if i%4 == 0:  #二污
                    insert_row = d_vehicle.loc[(d_vehicle['运载单位'] == '上海青浦第二污水处理厂有限公司')]
                    insert_row = insert_row.sort_values(by = '车辆休息时间',ascending = True)
                    fir_row = insert_row.iloc[:1]
                    #看时间优先排序，等待时间越长的车越先开始
                    new = df4_operation.loc[(df4_operation['污水厂名'] == '上海青浦第二污水处理厂有限公司') & (df4_operation['剩余需运出量'] > 0)]
                    if len(new) > 0 and new.iloc[0][6] > 0:
                        result.iloc[i][0] = fir_row.iloc[0][2] #污水厂名
                        result.iloc[i][1] = new.iloc[0][1]  #确认需要运出量
                        result.iloc[i][2] = new.iloc[0][6] - insert_row.iloc[0][1]/1000  #剩余需要运出量
                        result.iloc[i][3] = new.iloc[0][2]  #污泥等级
                        result.iloc[i][4] = new.iloc[0][3]  #运输时长
                        result.iloc[i][5] = fir_row.iloc[0][0]  #车牌号
                        result.iloc[i][6] = fir_row.iloc[0][1]  #核定载量
                        result.iloc[i][8] = new.iloc[0][7]  #仓库
                        #result.iloc[i][7] = initial_time + delta  #到达时间（最初车辆从5:00开始每隔十五分钟出发）
                        
                        time = pd.to_datetime(fir_row.iloc[0][3]) #这辆车的车辆休息时间
                        if time >= (d_initial_time + delta) and time >= b_initial_time:  #判断此车辆可运输时间是否大于上一个车辆达到时间
                            result.iloc[i][7] = time
                        elif time >= (d_initial_time + delta) and time < b_initial_time:  #大于上一个a仓车辆到达时间，小于上一个c仓车辆到达时间
                            result.iloc[i][7] = b_initial_time
                        else:
                            if i == max_index + 1:  #判断是否为第一行
                                result.iloc[i][7] = d_initial_time
                            else:
                                if pd.isna(result.iloc[i-1][0]):  #判断前一个时间是否为空
                                    if pd.isna(result.iloc[i-2][0]):  #判断前面第二个时间是否为空
                                        if pd.isna(result.iloc[i-3][0]):  #判断前面第三个时间是否为空
                                            if result.iloc[i][5] == result.iloc[i-4][5]: #判断前一次运输车辆和这一次的运输车辆是否相同
                                                result.iloc[i][7] = pd.to_datetime(result.iloc[i-4][7]) + delta
                                                result.iloc[i][7] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                                            else:
                                                result.iloc[i][7] = pd.to_datetime(result.iloc[i-4][7]) + delta
                                            
                                        else:
                                            if result.iloc[i][5] == result.iloc[i-3][5]: #判断前一次运输车辆和这一次的运输车辆是否相同
                                                result.iloc[i][7] = pd.to_datetime(result.iloc[i-3][7]) + delta
                                                result.iloc[i][7] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                                            else:
                                                result.iloc[i][7] = pd.to_datetime(result.iloc[i-3][7]) + delta
       
                                    else:
                                        result.iloc[i][7] = pd.to_datetime(result.iloc[i-2][7]) + delta
                                else:
                                    if result.iloc[i][5] == result.iloc[i-1][5]: #判断前一次运输车辆和这一次的运输车辆是否相同
                                        result.iloc[i][7] = pd.to_datetime(result.iloc[i-1][7]) + delta
                                        result.iloc[i][7] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                                    else:
                                        result.iloc[i][7] = pd.to_datetime(result.iloc[i-1][7]) + delta
                                
                        d_initial_time = pd.to_datetime(result.iloc[i][7])
                        b_vehicle.loc[b_vehicle['车牌号']==insert_row.iloc[0][0],['车辆休息时间']] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                        b_vehicle.loc[b_vehicle['车牌号']==insert_row.iloc[0][0],['车辆休息时间']] += delta
                        d_vehicle.loc[d_vehicle['车牌号']==insert_row.iloc[0][0],['车辆休息时间']] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                        d_vehicle.loc[d_vehicle['车牌号']==insert_row.iloc[0][0],['车辆休息时间']] += delta
                        bd_vehicle.loc[bd_vehicle['车牌号']==insert_row.iloc[0][0],['车辆休息时间']] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                        bd_vehicle.loc[bd_vehicle['车牌号']==insert_row.iloc[0][0],['车辆休息时间']] += delta
                        df4_operation.loc[df4_operation['污水厂名']==result.iloc[i][0],['剩余需运出量']] = result.iloc[i][2]
                        i += 1
                    else:
                        i += 1
                    continue
                else:   #非二污
                    insert_row = d_vehicle.loc[(d_vehicle['运载单位'] != '上海青浦第二污水处理厂有限公司')]
                    insert_row = insert_row.sort_values(by = '车辆休息时间',ascending = True)
                    fir_row = insert_row.iloc[:1]
                    #看时间优先排序，等待时间越长的车越先开始
                    new = df4_operation.loc[(df4_operation['污水厂名'] != '上海青浦第二污水处理厂有限公司') & (df4_operation['剩余需运出量'] > 0)]
                    is_exist = 0
                    k = 0
                    for k in range(len(insert_row)):
                        if (insert_row.iloc[k][2] in new['污水厂名'].values) == False:
                            k += 1
                        else:
                            is_exist = 1
                            matched_insert_row1 = new.loc[new['污水厂名']==insert_row.iloc[k][2]]
                            break
                    ex = insert_row.loc[insert_row['运载单位']==matched_insert_row1.iloc[0][0]]

                    if is_exist == 1:
                        result.iloc[i][0] = ex.iloc[0][2] #污水厂名
                        result.iloc[i][1] = matched_insert_row1.iloc[0][1]  #确认需要运出量
                        result.iloc[i][2] = matched_insert_row1.iloc[0][6] - ex.iloc[0][1]/1000  #剩余需要运出量
                        result.iloc[i][3] = matched_insert_row1.iloc[0][2]  #污泥等级
                        result.iloc[i][4] = matched_insert_row1.iloc[0][3]  #运输时长
                        result.iloc[i][5] = ex.iloc[0][0]  #车牌号
                        result.iloc[i][6] = ex.iloc[0][1]  #核定载量
                        result.iloc[i][8] = matched_insert_row1.iloc[0][7]  #仓库
                        #result.iloc[i][7] = initial_time + delta  #到达时间（最初车辆从5:00开始每隔十五分钟出发）
                        
                        time = pd.to_datetime(ex.iloc[0][3]) #这辆车的车辆休息时间
                        if time >= (d_initial_time + delta) and time >= b_initial_time:  #判断此车辆可运输时间是否大于上一个车辆达到时间
                            result.iloc[i][7] = time
                        elif time >= (d_initial_time + delta) and time < b_initial_time:  #大于上一个a仓车辆到达时间，小于上一个c仓车辆到达时间
                            result.iloc[i][7] = b_initial_time
                        else:
                            if i == max_index + 1:  #判断是否为第一行
                                result.iloc[i][7] = d_initial_time
                            else:
                                if pd.isna(result.iloc[i-1][0]):  #判断前一个时间是否为空
                                    if pd.isna(result.iloc[i-2][0]):  #判断前面第二个时间是否为空
                                        if pd.isna(result.iloc[i-3][0]):  #判断前面第三个时间是否为空
                                            if result.iloc[i][5] == result.iloc[i-4][5]: #判断前一次运输车辆和这一次的运输车辆是否相同
                                                result.iloc[i][7] = pd.to_datetime(result.iloc[i-4][7]) + delta
                                                result.iloc[i][7] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                                            else:
                                                result.iloc[i][7] = pd.to_datetime(result.iloc[i-4][7]) + delta
                                            
                                        else:
                                            if result.iloc[i][5] == result.iloc[i-3][5]: #判断前一次运输车辆和这一次的运输车辆是否相同
                                                result.iloc[i][7] = pd.to_datetime(result.iloc[i-3][7]) + delta
                                                result.iloc[i][7] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                                            else:
                                                result.iloc[i][7] = pd.to_datetime(result.iloc[i-3][7]) + delta
       
                                    else:
                                        result.iloc[i][7] = pd.to_datetime(result.iloc[i-2][7]) + delta
                                else:
                                    if result.iloc[i][5] == result.iloc[i-1][5]: #判断前一次运输车辆和这一次的运输车辆是否相同
                                        result.iloc[i][7] = pd.to_datetime(result.iloc[i-1][7]) + delta
                                        result.iloc[i][7] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                                    else:
                                        result.iloc[i][7] = pd.to_datetime(result.iloc[i-1][7]) + delta
                                
                        d_initial_time = pd.to_datetime(result.iloc[i][7])
                        b_vehicle.loc[b_vehicle['车牌号']==ex.iloc[0][0],['车辆休息时间']] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                        b_vehicle.loc[b_vehicle['车牌号']==ex.iloc[0][0],['车辆休息时间']] += delta
                        d_vehicle.loc[d_vehicle['车牌号']==ex.iloc[0][0],['车辆休息时间']] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                        d_vehicle.loc[d_vehicle['车牌号']==ex.iloc[0][0],['车辆休息时间']] += delta
                        bd_vehicle.loc[bd_vehicle['车牌号']==ex.iloc[0][0],['车辆休息时间']] = result.iloc[i][7] + datetime.timedelta(minutes=result.iloc[i][4].astype(np.float64))
                        bd_vehicle.loc[bd_vehicle['车牌号']==ex.iloc[0][0],['车辆休息时间']] += delta
                        df4_operation.loc[df4_operation['污水厂名']==result.iloc[i][0],['剩余需运出量']] = result.iloc[i][2]
                        i += 1
                    else:
                        i += 1
                    continue
                    

operation_cont()
result

,污水厂名,确认需运出量,剩余需运出量,污泥等级,运输时长,车牌号,核定载量,到达时间,仓库
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,上海朱家角污水处理工程建设有限公司,20.85,11.445,B,30,沪FP3295,9405.0,2023-06-13 13:35:00,D仓
7,上海青浦第二污水处理厂有限公司,55.83,37.22,A,80,沪ER3975,9805.0,2023-06-13 13:50:00,B仓
8,上海青浦第二污水处理厂有限公司,14.75,-3.86,A,80,沪EC6027,8805.0,2023-06-13 14:05:00,D仓
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,上海朱家角污水处理工程建设有限公司,20.85,2.04,B,30,沪FP3295,9405.0,2023-06-13 14:20:00,D仓
11,上海青浦第二污水处理厂有限公司,55.83,27.415,A,80,沪ER3975,9805.0,2023-06-13 15:25:00,B仓
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,上海朱家角污水处理工程建设有限公司,20.85,-7.365,B,30,沪FP3295,9405.0,2023-06-13 15:25:00,D仓
15,上海青浦第二污水处理厂有限公司,55.83,18.61,A,80,沪EC6027,8805.0,2023-06-13 15:40:00,B仓
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,上海青浦第二污水处理厂有限公司,55.83,8.805,A,80,沪ER3975,9805.0,2023-06-13 17:00:00,B仓
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,上海青浦第二污水处理厂有限公司,55.83,0.0,A,80,沪EC6027,8805.0,2023-06-13 17:15:00,B仓
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1190]:
df2_operation

                 污水厂名  确认需运出量 污泥等级  运输时长  平均单车载量  运输车数  剩余需运出量  仓库
0  上海市金泽污水处理有限公司西岑分公司    0.79    C    50   9.405     1  -8.615  B仓
1     上海青浦第二污水处理厂有限公司   55.83    A    80   9.305     6   0.000  B仓
2      上海青浦白鹤污水处理有限公司    6.55    B    80   7.925     1  -1.375  B仓

In [1191]:
df4_operation

                污水厂名  确认需运出量 污泥等级  运输时长  平均单车载量  运输车数  剩余需运出量  仓库
0       上海青浦排水运营有限公司   15.72    B    40  16.105     1  -0.385  D仓
1  上海朱家角污水处理工程建设有限公司   20.85    B    30   9.405     3  -7.365  D仓
2    上海青浦第二污水处理厂有限公司   14.75    A    80   9.305     2  -3.860  D仓

In [1192]:
frames2 = [goal,result]
sol2 = pd.concat(frames2)
sol2.dropna()

,污水厂名,确认需运出量,剩余需运出量,污泥等级,运输时长,车牌号,核定载量,到达时间,仓库
0,上海青浦第二污水处理厂有限公司,14.75,4.945,A,80,沪ER3975,9805.0,2023-06-13 11:45:00,D仓
1,上海市金泽污水处理有限公司西岑分公司,0.79,-8.615,C,50,沪FP3295,9405.0,2023-06-13 11:45:00,B仓
2,上海青浦排水运营有限公司,15.72,-0.385,B,40,沪FC2538,16105.0,2023-06-13 12:00:00,D仓
3,上海青浦第二污水处理厂有限公司,55.83,47.025,A,80,沪EC6027,8805.0,2023-06-13 12:00:00,B仓
5,上海青浦白鹤污水处理有限公司,6.55,-1.375,B,80,沪ES8171,7925.0,2023-06-13 12:15:00,B仓
6,上海朱家角污水处理工程建设有限公司,20.85,11.445,B,30,沪FP3295,9405.0,2023-06-13 13:35:00,D仓
7,上海青浦第二污水处理厂有限公司,55.83,37.22,A,80,沪ER3975,9805.0,2023-06-13 13:50:00,B仓
8,上海青浦第二污水处理厂有限公司,14.75,-3.86,A,80,沪EC6027,8805.0,2023-06-13 14:05:00,D仓
10,上海朱家角污水处理工程建设有限公司,20.85,2.04,B,30,沪FP3295,9405.0,2023-06-13 14:20:00,D仓
11,上海青浦第二污水处理厂有限公司,55.83,27.415,A,80,沪ER3975,9805.0,2023-06-13 15:25:00,B仓
14,上海朱家角污水处理工程建设有限公司,20.85,-7.365,B,30,沪FP3295,9405.0,2023-06-13 15:25:00,D仓
15,上海青浦第二污水处理厂有限公司,55.83,18.61,A,80,沪EC6027,8805.0,2023-06-13 15:40:00,B仓
19,上海青浦第二污水处理厂有限公司,55.83,8.805,A,80,沪ER3975,9805.0,2023-06-13 17:00:00,B仓
23,上海青浦第二污水处理厂有限公司,55.83,0.0,A,80,沪EC6027,8805.0,2023-06-13 17:15:00,B仓

In [1193]:
a_final = sol[sol['仓库']=='A仓']
b_final = sol2[sol2['仓库']=='B仓']
ab_frame = [a_final,b_final]
line1 = pd.concat(ab_frame)
line1

,污水厂名,确认需运出量,剩余需运出量,污泥等级,运输时长,车牌号,核定载量,到达时间,仓库
1,上海青浦练塘污水处理厂,10.09,0.685,A,50,沪FP3295,9405.0,2023-06-13 05:00:00,A仓
3,上海青浦第二污水处理厂有限公司,27.91,19.105,A,80,沪EC6027,8805.0,2023-06-13 05:15:00,A仓
5,上海徐泾污水处理有限公司,25.47,17.665,C,30,沪ER9066,7805.0,2023-06-13 05:30:00,A仓
7,上海青浦第二污水处理厂有限公司,27.91,9.3,A,80,沪ER3975,9805.0,2023-06-13 07:05:00,A仓
9,上海青浦练塘污水处理厂,10.09,-8.72,A,50,沪FP3295,9405.0,2023-06-13 07:35:00,A仓
11,上海青浦第二污水处理厂有限公司,27.91,-0.505,A,80,沪ER3975,9805.0,2023-06-13 08:40:00,A仓
13,上海徐泾污水处理有限公司,25.47,9.86,C,30,沪ER9066,7805.0,2023-06-13 08:55:00,A仓
17,上海徐泾污水处理有限公司,25.47,2.055,C,30,沪ER9066,7805.0,2023-06-13 09:40:00,A仓
21,上海徐泾污水处理有限公司,25.47,-5.75,C,30,沪ER9066,7805.0,2023-06-13 10:40:00,A仓
1,上海市金泽污水处理有限公司西岑分公司,0.79,-8.615,C,50,沪FP3295,9405.0,2023-06-13 11:45:00,B仓
3,上海青浦第二污水处理厂有限公司,55.83,47.025,A,80,沪EC6027,8805.0,2023-06-13 12:00:00,B仓
5,上海青浦白鹤污水处理有限公司,6.55,-1.375,B,80,沪ES8171,7925.0,2023-06-13 12:15:00,B仓
7,上海青浦第二污水处理厂有限公司,55.83,37.22,A,80,沪ER3975,9805.0,2023-06-13 13:50:00,B仓
11,上海青浦第二污水处理厂有限公司,55.83,27.415,A,80,沪ER3975,9805.0,2023-06-13 15:25:00,B仓
15,上海青浦第二污水处理厂有限公司,55.83,18.61,A,80,沪EC6027,8805.0,2023-06-13 15:40:00,B仓
19,上海青浦第二污水处理厂有限公司,55.83,8.805,A,80,沪ER3975,9805.0,2023-06-13 17:00:00,B仓
23,上海青浦第二污水处理厂有限公司,55.83,0.0,A,80,沪EC6027,8805.0,2023-06-13 17:15:00,B仓

In [1194]:
c_final = sol[sol['仓库']=='C仓']
d_final = sol2[sol2['仓库']=='D仓']
cd_frame = [c_final,d_final]
line1 = pd.concat(cd_frame)
line1

,污水厂名,确认需运出量,剩余需运出量,污泥等级,运输时长,车牌号,核定载量,到达时间,仓库
0,上海青浦第二污水处理厂有限公司,18.61,8.805,A,80,沪ER3975,9805.0,2023-06-13 05:00:00,C仓
2,上海绿衍污水处理有限公司,41.91,25.805,A,20,沪FC2538,16105.0,2023-06-13 05:15:00,C仓
6,上海绿衍污水处理有限公司,41.91,9.7,A,20,沪FC2538,16105.0,2023-06-13 06:50:00,C仓
8,上海青浦第二污水处理厂有限公司,18.61,0.0,A,80,沪EC6027,8805.0,2023-06-13 07:20:00,C仓
10,上海绿衍污水处理有限公司,41.91,-6.405,A,20,沪FC2538,16105.0,2023-06-13 07:50:00,C仓
14,商榻污水处理有限公司,0.87,-8.535,A,90,沪FP3295,9405.0,2023-06-13 08:55:00,C仓
18,上海市金泽污水处理有限公司,0.64,-8.765,C,50,沪FP3295,9405.0,2023-06-13 10:40:00,C仓
0,上海青浦第二污水处理厂有限公司,14.75,4.945,A,80,沪ER3975,9805.0,2023-06-13 11:45:00,D仓
2,上海青浦排水运营有限公司,15.72,-0.385,B,40,沪FC2538,16105.0,2023-06-13 12:00:00,D仓
6,上海朱家角污水处理工程建设有限公司,20.85,11.445,B,30,沪FP3295,9405.0,2023-06-13 13:35:00,D仓
8,上海青浦第二污水处理厂有限公司,14.75,-3.86,A,80,沪EC6027,8805.0,2023-06-13 14:05:00,D仓
10,上海朱家角污水处理工程建设有限公司,20.85,2.04,B,30,沪FP3295,9405.0,2023-06-13 14:20:00,D仓
14,上海朱家角污水处理工程建设有限公司,20.85,-7.365,B,30,沪FP3295,9405.0,2023-06-13 15:25:00,D仓